#include "resource.h"
#include <windows.h>

IDI_ICON_WEBP ICON "res/webp.ico"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
    IDS_VERSION, 	"1.0.1"
}

101 DIALOG 0, 0, 127, 113
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 ID_WebP"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "宋体"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 93, 50, 14
    CONTROL "(c) 2025 MasterZ", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 62, 88, 8
    CONTROL "WebP 图像解码插件", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 10, 8, 108, 78
    CONTROL "版本 %s", IDC_VERSION, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 23, 21, 81, 8
    CONTROL IDI_ICON_WEBP, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 53, 39, 20, 20
    CONTROL "作者: oiramario", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 31, 72, 71, 8
}
