#include "res/resource.h"
#include <windows.h>

IDI_ICON_WEBP ICON "webp.ico"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
    IDS_VERSION, 	VER_STR
}

IDD_ABOUT DIALOG 0, 0, 127, 113
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About ID_WebP"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "Segoe UI"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 93, 50, 14
    CONTROL "(c) 2026 MasterZ", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 57, 88, 8
    CONTROL "WebP Image Decoder", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 9, 8, 110, 78
    CONTROL "Version %s", IDC_VERSION, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 21, 88, 8
    CONTROL IDI_ICON_WEBP, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 54, 36, 20, 20
    CONTROL "Author: oiramario", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 72, 88, 8
}


1 VERSIONINFO
FILEVERSION    VER_MAJOR,VER_MINOR,VER_PATCH,0
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_PATCH,0
FILEOS 0x40004
FILETYPE 0x2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "ACD Systems, Ltd."
            VALUE "FileDescription", "ID_WEBP"
            VALUE "FileVersion", VER_STR
            VALUE "InternalName", "ID_WEBP"
            VALUE "LegalCopyright", "Copyright \xA9 2013 ACD Systems, Ltd."
            VALUE "OriginalFilename", "ID_WEBP.apl"
            VALUE "ProductName", "ID_WEBP"
            VALUE "ProductVersion", VER_STR
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409 0x04B0
    }
}
